.header1{
        color:#1E1E1E;
        margin-top: 20px;
        margin-left:20px;
}

.header2{
        color: #F2F2F2;
        margin-top: 20px;
        margin-left:20px;
}
.service{
        margin-left:25px;
        font-weight:900;
        font-size: 20px;
}