/* Start styles here  */

.header1 {
        color: #1E1E1E; /* Text color for header1 */
        margin-top: 20px; /* Top margin for header1 */
        margin-left: 20px; /* Left margin for header1 */
}

.header2 {
        color: #F2F2F2; /* Text color for header2 */
        margin-top: 20px; /* Top margin for header2 */
        margin-left: 20px; /* Left margin for header2 */
}

/* Service styles */

.service {
        margin-left: 25px; /* Left margin for service text */
        font-weight: 900; /* Bold font for service text */
        font-size: 22px; /* Font size for service text */
        margin-top: 10px; /* Top margin for service text */
}

.serviceList {
        font-size: 15px; /* Font size for service list */
        font-weight: 500; /* Normal font weight for service list */
}

li {
        list-style-type: none; /* Remove list-style for list items */
        // margin-left:50px;
        margin-top: 10px; /* Top margin for list items */

}

.items {
        font-size: 15px; /* Font size for items */
        font-weight: 500; /* Normal font weight for items */
        margin-top: 15px; /* Top margin for items */
}

/* OverlapImage.css */
.overlap-container {
        position: relative;  /* Define a relative positioning context */
        width: 300px; /* Set a fixed width */
        height: 300px; /* Set a fixed height */
        overflow: hidden; /* Hide overflowing content */
}

.background-image {
        width: 100%; /* Fill the width of the container */
        height: 100%; /* Fill the height of the container */
        object-fit: cover;  /* Resize image to cover the container */
}

.shape-overlay {
        position: absolute; /* Position absolutely within the container */
        top: 0;  /* Align to the top edge */
        left: 0;  /* Align to the left edge */
        width: 100%; /* Occupy the entire width */
        height: 100%; /* Occupy the entire height */
        background-color: rgba(0, 0, 0, 0.5); /* Background color with opacity */
        /* Adjust opacity as needed */
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); /* Create a diagonal shape */
        z-index: 1; /* Place it below other content */
}

.content {
        position: absolute; /* Position absolutely within the container */
        z-index: 2;  /* Place it above the shape overlay */
        bottom: 20px; /* Distance from the bottom edge */
        left: 20px; /* Distance from the left edge */
        color: white; /* Text color for content */
        
}

/* User image styles */
.userImg {
        width: 75px; /* Set a fixed width */
        height: 75px; /* Set a fixed height */
        object-fit: cover; /* Resize image to cover the container */
        border-radius: 50%; /* Create a circular image */
        margin-left: 20px; /* Left margin for user image */
        margin-top: 20px; /* Top margin for user image */
}

.userDetails {
        display: inline-flex; /* Display elements in a horizontal line */
}

/* Additional service styles */
.service {
        margin-left: 25px; /* Left margin for service text */
        font-weight: 900; /* Bold font for service text */
        font-size: 22px; /* Font size for service text */
        margin-top: 40px; /* Top margin for service text */
}

.beauticianImg {
        width: 50px;  /* Set a fixed width */
        height: 50px;  /* Set a fixed height */
        object-fit: cover; /* Resize image to cover the container */
        border-radius: 50%;  /* Create a circular image */
        margin-left: 20px;  /* Left margin for beautician image */
        margin-top: -10px;  /* Adjust top margin */
}

.cardDetails {
        display: flex; /* Display elements in a horizontal line */

}

// .serviceImg{
//         width: 250px;
//         height: auto;
//         margin-top: 20px;
//         margin-left: 70px;
//         border-radius: 25%;
// }

.upcomingTab,
.completedTab {
        display: inline-flex; /* Display elements in a horizontal line */
}

/* End styles here  */
